.Title {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #ffffff;
}
.Paragraph {
  color: #eaeaea;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}
