.Header {
  height: 100%;
  width: 100%;
  border-bottom: 0.5px solid #ffffff99;
  padding: 0.5rem 0rem;
}

.HeaderContainer {
  padding: 0rem 2rem;
  width: 100%;
}
.Button {
  border-width: 2.5px;
}

.Link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  @media (max-width: 992px) {
  }
}
