.Title {
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.TitleSpan {
  font-weight: 300;
}

.Paragraph {
  text-align: center;
  color: rgba(234, 234, 234, 1);
}
.ColTitle {
  color: rgba(255, 255, 255, 1);
}
.InputLabel {
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0.5rem;
}
.Input {
  border: 2px solid rgba(37, 40, 45, 1);
  border-radius: 8px;
  background-color: rgba(2, 7, 16, 1);
  color: rgba(255, 255, 255, 1);
}
.InputArea {
  border: 2px solid rgba(37, 40, 45, 1);
  border-radius: 8px;
  background-color: rgba(2, 7, 16, 1);
  color: rgba(255, 255, 255, 1);
  height: 160px;
  order: 0;
}
.InputAreaRoot {
  display: flex;
  flex-direction: column;
}
.InputAreaDescription {
  text-align: left;
  color: rgba(234, 234, 234, 1);
  order: 1;
  margin-top: 5px;
}

.Card {
  border: 2px solid rgba(37, 40, 45, 1);
  border-radius: 8px;
  background-color: rgba(2, 7, 16, 1);
  max-height: 100%;
  padding: 30px 20px;
  margin-left: 20px;
  @media (max-width: 767px) {
    margin-left: 0;
    width: 100%;
  }
}

.CardText {
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.CardTitle {
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.CardDivider {
  background-color: rgba(234, 234, 234, 1);
  opacity: 0.7;
  height: 0.5px;
  width: 100%;
  margin: 5px 0;
}
