.Title {
  color: #ffffff;
  text-align: center;
}

.TitleSpan {
  font-weight: 300;
}

.Accordion {
  color: #ffffff;
  width: 85%;
}

.AccordionItem {
  border: none;
  align-self: center;
  margin-bottom: 2rem;
}

.AccordionControl:hover {
  background-color: transparent;
  color: inherit;
}

.AccordionControl {
  color: #ffffff;
}
.AccordionPanel {
  color: #eaeaea;
  word-wrap: break-word;
}
.arrow {
  width: 20px;
  height: 20px;
}
