.Card {
  border: 2px solid rgba(37, 40, 45, 1);
  background-color: rgba(2, 7, 16, 1);
  border-radius: 40px;
  padding: 50px 85px;
}
.Title {
  color: #ffffff;
}
.TitleSpan {
  font-weight: 300;
}
.secondTitle {
  text-align: center;
  color: #ffffff;
}
.Price {
  font-size: 80px;
  font-weight: 700;
  line-height: 104px;
  text-align: center;
  color: rgba(52, 143, 248, 1);
}
.Currency {
  color: rgba(52, 143, 248, 1);
}
.Text {
  background-color: rgba(52, 143, 248, 0.6);
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  text-align: left;
  padding: 12px 10px;
}
.BottomTitle {
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.BottomTitleSpan {
  font-weight: 300;
}
.BottomDescription {
  text-align: center;
  color: rgba(234, 234, 234, 1);
}
.BottomList {
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.ButtonCol {
  display: flex;
  justify-content: center;
  align-items: center;
}
