.Box {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("/backgrounds/background-1.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.Group {
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.Group2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-content: center;
}

.Group2Inner {
  flex-direction: column;
  overflow: hidden;
  width: 200px;
  align-items: center;
  align-self: start;
  text-align: center;
}
.Container {
  position: relative;
  overflow: hidden;
}
.FloatCloud {
  position: absolute;
  top: 40%;
  left: 0%;
}
.FloatCloud2 {
  position: absolute;
  top: 33%;
  left: 70%;
}

.FloatShield {
  position: absolute;
  top: 40%;
  left: 85%;
}
.FloatShield2 {
  position: absolute;
  top: 32%;
  right: -15%;
}
.FloatLightning {
  position: absolute;
  top: 37%;
  left: 37%;
}
.FloatLightning2 {
  position: absolute;
  top: 25%;
  left: 90%;
}
.FloatGraph {
  position: absolute;
  top: 23%;
  left: 50%;
}
.FloatGraph2 {
  position: absolute;
  top: 45%;
  left: 60%;
}

.MarginTop {
  margin-top: 3rem;
}

.Title {
  font-size: 25px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  line-height: 32px;
}
.Description {
  font-size: 18px;
  font-weight: 400;
  max-height: 300px;
  font-family: "Inter", sans-serif;
  line-height: 23px;
  color: #eaeaea;
}

.Text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #ffffff;
  margin-top: 1.5rem;
  line-height: 104px;
}
.span {
  font-weight: 300;
  font-size: 80px;
  color: #ffffff;
}

.Text2 {
  font-family: "Inter", sans-serif;
  color: #eaeaea;
  font-weight: 400;
  font-size: 18px;
}
.Text3 {
  font-family: "Roboto", sans-serif;
  color: #eaeaea;
  font-weight: 300;
  font-size: 20px;
}

.span2 {
  font-family: "Roboto", sans-serif;
  color: #348ff8;
  font-weight: 500;
  font-size: 36px;
}
.span3 {
  font-family: "Roboto", sans-serif;
  color: #348ff8;
  font-weight: 500;
  font-size: 20px;
}
