.Box {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 68%
    ),
    url("/backgrounds/background-1.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.GridCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}
.Container {
  display: flex;
  flex-direction: column;
}
.FloatCloud {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 80px;
  @media (max-width: 767px) {
    top: 26%;
    left: 5%;
    width: 60px;
  }
  @media (max-width: 480px) {
    top: 31%;
    width: 40px;
  }
}
.FloatCloud2 {
  position: absolute;
  top: 30%;
  left: 63%;
  width: 80px;

  @media (max-width: 767px) {
    top: 22%;
    left: 55%;
    width: 60px;
  }
  @media (max-width: 480px) {
    width: 40px;
  }
}

.FloatShield {
  position: absolute;
  top: 40%;
  left: 74%;
  width: 80px;
  @media (max-width: 767px) {
    top: 31%;
    left: 66%;
    width: 60px;
  }
  @media (max-width: 480px) {
    width: 40px;
  }
}
.FloatShield2 {
  position: absolute;
  top: 32%;
  right: 10%;
  width: 80px;

  @media (max-width: 767px) {
    top: 26%;
    width: 60px;
  }
  @media (max-width: 480px) {
    width: 40px;
  }
}
.FloatLightning {
  position: absolute;
  top: 37%;
  left: 40%;
  width: 80px;

  @media (max-width: 767px) {
    top: 24%;
    left: 23%;
    width: 60px;
  }
  @media (max-width: 480px) {
    top: 29%;
    width: 40px;
  }
}
.FloatLightning2 {
  position: absolute;
  top: 25%;
  left: 76%;
  width: 80px;

  @media (max-width: 767px) {
    top: 18%;
    width: 60px;
  }
  @media (max-width: 480px) {
    width: 40px;
  }
}
.FloatGraph {
  position: absolute;
  top: 23%;
  left: 47%;
  width: 80px;

  @media (max-width: 767px) {
    top: 17%;
    width: 60px;
  }
  @media (max-width: 480px) {
    width: 40px;
  }
}
.FloatGraph2 {
  position: absolute;
  top: 45%;
  left: 55%;
  width: 80px;

  @media (max-width: 767px) {
    top: 30%;
    left: 40%;
    width: 60px;
  }
  @media (max-width: 480px) {
    width: 40px;
  }
}

.MarginTop {
  margin-top: 3rem;
  @media (max-width: 992px) {
    margin-top: 0px;
  }
}

.Title {
  color: #ffffff;
}
.Description {
  max-height: 300px;
  color: #eaeaea;
}

.Text {
  color: #ffffff;
  margin-top: 1.5rem;
}
.span {
  font-weight: 300;
}

.Text2 {
  color: #eaeaea;
  width: 60%;
}
.Text3 {
  color: #eaeaea;
}

.span2 {
  color: #348ff8;
  font-weight: 500;
  font-size: 36px;
}
.span3 {
  color: #348ff8;
  font-weight: 500;
  font-size: 20px;
}
