.Box {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 68%
    ),
    url("/backgrounds/background-1.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}

.Group {
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.GridCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}
.Container {
  display: flex;
  flex-direction: column;
}
.FloatCloud {
  position: absolute;
  top: 40%;
  left: 20%;
  @media (max-width: 767px) {
    top: 26%;
    left: 5%;
  }
  @media (max-width: 480px) {
    top: 31%;
    width: 60px !important;
  }
}
.FloatCloud2 {
  position: absolute;
  top: 30%;
  left: 63%;
  @media (max-width: 767px) {
    top: 22%;
    left: 55%;
  }
  @media (max-width: 480px) {
    width: 60px !important;
  }
}

.FloatShield {
  position: absolute;
  top: 40%;
  left: 74%;
  @media (max-width: 767px) {
    top: 31%;
    left: 66%;
  }
  @media (max-width: 480px) {
    width: 60px !important;
  }
}
.FloatShield2 {
  position: absolute;
  top: 32%;
  right: 10%;
  @media (max-width: 767px) {
    top: 26%;
  }
  @media (max-width: 480px) {
    width: 60px !important;
  }
}
.FloatLightning {
  position: absolute;
  top: 37%;
  left: 40%;
  @media (max-width: 767px) {
    top: 24%;
    left: 23%;
  }
  @media (max-width: 480px) {
    width: 60px !important;
    top: 29%;
  }
}
.FloatLightning2 {
  position: absolute;
  top: 25%;
  left: 76%;
  @media (max-width: 767px) {
    top: 18%;
  }
  @media (max-width: 480px) {
    width: 60px !important;
  }
}
.FloatGraph {
  position: absolute;
  top: 23%;
  left: 47%;
  @media (max-width: 767px) {
    top: 17%;
  }
  @media (max-width: 480px) {
    width: 60px !important;
  }
}
.FloatGraph2 {
  position: absolute;
  top: 45%;
  left: 55%;
  @media (max-width: 767px) {
    top: 30%;
    left: 40%;
  }
  @media (max-width: 480px) {
    width: 60px !important;
  }
}

.MarginTop {
  margin-top: 3rem;
  @media (max-width: 992px) {
    margin-top: 0px;
  }
}

.Title {
  font-size: 25px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  line-height: 32px;
}
.Description {
  font-size: 18px;
  font-weight: 400;
  max-height: 300px;
  font-family: "Inter", sans-serif;
  line-height: 23px;
  color: #eaeaea;
}

.Text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #ffffff;
  margin-top: 1.5rem;
  line-height: 104px;
  @media (max-width: 767px) {
    font-size: 50px;
    line-height: 65px;
  }
  @media (max-width: 480px) {
    font-size: 32px;
    line-height: 41px;
  }
}
.span {
  font-weight: 300;
  font-size: 80px;
  color: #ffffff;
  @media (max-width: 767px) {
    font-size: 50px;
    line-height: 65px;
  }
  @media (max-width: 480px) {
    font-size: 32px;
    line-height: 41px;
  }
}

.Text2 {
  font-family: "Inter", sans-serif;
  color: #eaeaea;
  font-weight: 400;
  font-size: 18px;
}
.Text3 {
  font-family: "Roboto", sans-serif;
  color: #eaeaea;
  font-weight: 300;
  font-size: 20px;
}

.span2 {
  font-family: "Roboto", sans-serif;
  color: #348ff8;
  font-weight: 500;
  font-size: 36px;
}
.span3 {
  font-family: "Roboto", sans-serif;
  color: #348ff8;
  font-weight: 500;
  font-size: 20px;
}
.Button {
  border-radius: 100px;
  border: 3px solid rgba(52, 143, 248, 1);
  background-color: rgba(52, 143, 248, 1);
  height: 52px;
}

.Button:hover {
  border: 3px solid rgba(52, 143, 248, 0.6);
  background-color: rgba(2, 7, 16, 1);
}
