.SelectText {
  text-align: left;
  color: rgba(234, 234, 234, 1);
}
.SelectRoot {
  margin-top: 1rem;
  width: 60%;
}
.SelectInput {
  border-radius: 12px;
  border: 2px solid rgba(37, 40, 45, 1);
  background-color: rgba(2, 7, 16, 1);
  color: rgba(255, 255, 255, 1);
  height: 60px;
  text-align: left;
}
.SelectDropdown {
  background-color: rgba(2, 7, 16, 1);
  border: 2px solid rgba(37, 40, 45, 1);
  border-radius: 12px;
  color: rgba(255, 255, 255, 1);
  padding: 0;
}
.SelectOption {
  text-align: left;
  padding: 19px 19px;
}
.SelectOption:first-child {
  border-radius: 10px 10px 0 0;
}

.SelectOption:last-child {
  border-radius: 0 0 10px 10px;
}

.SelectOption:only-child {
  border-radius: 10px;
}

.SelectOption[data-checked="true"] {
  background-color: rgba(52, 143, 248, 0.6);
}
.SelectOption:active {
  background-color: rgba(52, 143, 248, 0.6);
}
.SelectOption:hover {
  background-color: rgba(52, 143, 248, 0.4);
}
.PriceCard {
  padding: 21px 33px 21px 33px;
  border-radius: 12px;
  border: 2px solid rgba(37, 40, 45, 1);
  background-color: rgba(2, 7, 16, 1);
  display: flex;
  min-width: 600px;
  justify-content: space-between;
}

.TableTitle {
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.HighlightedContent {
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.TableContent {
  text-align: left;
  color: rgba(234, 234, 234, 1);
}
.PriceSpan {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 46.8px;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgba(52, 143, 248, 1);
}
.BottomText {
  text-align: center;
  color: rgba(234, 234, 234, 1);
}

.CloudTitle {
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.CloudSpan {
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
}
.CloudDescription {
  text-align: center;
  color: rgba(234, 234, 234, 1);
}

.CloudPrice {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 46.8px;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgba(52, 143, 248, 1);
}
