.Card {
  background-color: #020710;
  border: 2px solid #25282d;
  border-radius: 12px;
  padding: 10px 32px;
}

.Title {
  color: #ffffff;
}

.Paragraph {
  color: #eaeaea;
}

.List {
  color: #eaeaea;
}

.List li {
  width: 100%;
  @media (max-width: 767px) {
    width: 95%;
  }
}

.Divider {
  color: #ffffff99;
  height: 0.5px;
  opacity: 0.6;
}
.BottomTitle {
  color: #ffffff;
}
.BottomText {
  color: #ffffff;
}
.BottomTextSpan {
  font-weight: 300;
}
.BottomTitleSpan {
  font-weight: 300;
}
.BottomBox {
  background-image: url("/backgrounds/bottom-info.png");
  width: 100%;
  height: 80vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 767px) {
    background-image: url("/backgrounds/bottom-info-mobile.png");
  }
}
